$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: #f0f0f0;
  font-size:10px;
  color: #333;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Droid Sans Mono', monaco, monospace;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
    margin-top: 5%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.mb-p {
    color: #666;
    margin-top: 10px;
}

.section {
    text-align:center;
}

h1 {
    margin-bottom: 30px;
}

.mb-about {
    margin-bottom: 30px;
    margin-left:15px;
}

.mb-contact {
    margin-bottom: 30px;
    margin-left:15px;
}

.twitter-share-button {
    position: fixed !important;
    z-index: 99;
    right: 15px; 
    top: 9px;
}

.mb-main {
    margin-top: 55px;
}

.mb-menu {
    font-size:12px;
    margin-left:45px;
    padding-top:160px;
}

@media screen and (max-width: 768px) {
    .mb-menu {
        font-size:12px;
        margin-left:20px;
        padding-top:20px;
    }

}

.mb-link {
    color: #333;
}

.mb-p {
    font-size:8px;
    color: #333;
    margin-bottom:30px;
}

.mb-col {
    margin-top:20px;
}
